<div *ngIf="slides">
  <div class="cards-list" (click)="openModalWithClass(carrusel)">
    <div class="card 1">
      <div class="card_image">
        <img [src]="slides[0]" alt="cardImg"/>
      </div>
      <div class="card_title title-white">
        <p class="threeD">Ver fotos</p>
      </div>
    </div>
  </div>
</div>


<ng-template #carrusel>
  <!--  <div class="modal-header ">-->
  <!--    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">-->
  <!--      <span aria-hidden="true">&times;</span>-->
  <!--    </button>-->
  <!--  </div>-->
  <carousel [isAnimated]="true">
    <div *ngFor="let slide of slides">
      <slide>
        <img [src]="slide" class="d-block w-100" style="object-fit: contain;max-height:1000px;" alt="..."/>
      </slide>
    </div>
  </carousel>
</ng-template>
