/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#mapa-mapbox {
  /*display: block;*/
  /*position: absolute;*/
  /*top:0;*/
  /*bottom: 0;*/
  /*height: 500px;*/
  /*width: 100%;*/
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 4rem;
}
.map-overlay-container {
  position: absolute;
  width: 25%;
  top: 10%;
  left: 10px;
  padding: 10px;
  z-index: 1;
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.map-overlay h2,
.map-overlay p {
  margin: 0 0 10px;
}


/*#menutipo a {*/
/*  font-size: 13px;*/
/*  color: #404040;*/
/*  display: block;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  padding: 10px;*/
/*  text-decoration: none;*/
/*  border-bottom: 1px solid rgba(0, 0, 0, 0.25);*/
/*  text-align: center;*/
/*}*/

/*#menutipo a:last-child {*/
/*  border: none;*/
/*}*/

/*#menutipo a:hover {*/
/*  background-color: #f8f8f8;*/
/*  color: #404040;*/
/*}*/

/*#menutipo a.active {*/
/*  background-color: #3887be;*/
/*  color: #ffffff;*/
/*}*/

/*#menutipo a.active:hover {*/
/*  background: #3074a4;*/
/*}*/
