<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card">
        <div class="card-body">
          <div
            appDirectivaimagen
            [files]="files"
            (mouseOver)="isOverDrop = $event"
            [ngClass]="{ 'file-over': isOverDrop }"
            class="drop-zone">
            <h4 class="text-center">Arrastre aquí sus imágenes</h4>
            <img src="../../../assets/cloud.png" alt="drop-images" style="width: 50px; height: 35px"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-5">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lista de imágenes
            <i class="fa fa-image" style="color: #14B21D"></i></h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Nombre de archivo</th>
              <th>Tamaño</th>
              <th>Progreso</th>
              <th>URL</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let file of files">
              <td>{{ file.name }}</td>
              <td>{{ file.file.size / 1024 / 1024 | number: ".2" }}MB</td>
              <td *ngIf="file.uploadPercent | async as uploadPercent">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progessbar"
                    [ngStyle]="{ width: uploadPercent + '%' }"
                  >
                    {{ uploadPercent | number: "1.0-0" }} %
                  </div>
                </div>
              </td>
              <td *ngIf="file.downloadURL | async as downloadURL">
                <a [href]="downloadURL" target="_blank">Download URL</a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="container-buttons">
            <button (click)="files = []" class="btn btn-outline-danger" type="button">Limpiar</button>
<!--            <button-->
<!--              (click)="onUpload()"-->
<!--              [disabled]="files.length === 0"-->
<!--              class="btn btn-primary"-->
<!--            >-->
<!--              Upload-->
<!--            </button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
