<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col ">
          <p>Tu participación es muy importante. Sumate al equipo haciendo cualquier tipo de actividad dentro del proyecto!</p>
        </div>
      </div>
      <div class="row">
        <div class="col ">
          <p>Envía tus dudas, consultas, reporte de problemas e ideas por e-mail:</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li><a href="mailto:nahuelescobedo@gmail.com" target="_blank">nahuelescobedo@gmail.com </a> <i
              class="fa fa-envelope text-success"></i></li>
            <br>
            <li><a href="https://gitlab.com/Nahuele/EcoMapa" target="_blank">Código del sitio web (GitLab) </a> <i class="fa fa-gitlab text-success"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
