<div class="d-flex flex-column h-100">
  <app-navbar></app-navbar>
  <div class="container-fluid flex-grow">
    <router-outlet></router-outlet>
  </div>
  <div class="container-fluid">
<!--    <app-footer ></app-footer>-->
  </div>
</div>
