<div class="container mb-5 mt-3">
  <h3 class="text-center">Editar proyecto</h3>
  <br>
  <form (submit)="submit(actualizado)" [formGroup]="registerForm" name="formPro">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Nombre del Proyecto</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles.nombre"
                 class="form-control" formControlName="nombre"
                 name="nombre" type="text">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label tooltip="e-mail institucional o de la persona a cargo">e-mail principal</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['email']" [ngClass]="{'is-invalid': registerForm.get('email').invalid}"
                 class="form-control"
                 formControlName="email" type="email">
          <!--          <div class="invalid-feedback">-->
          <!--            email requerido-->
          <!--          </div>-->
        </div>
        <!--        <div *ngIf="email.invalid && !email.pristine">-->
        <!--          <p *ngIf="email.errors.email" style="color: red">Un email es requerido</p>-->
        <!--        </div>-->
      </div>

      <div class="col">
        <div class="form-group">
          <label for="tipo_enfoque">Tipo</label>
          <select [(ngModel)]="this.proyectoService.selectedProject.detalles['tipo_enfoque']"
                  [ngClass]="{'is-invalid': registerForm.get('tipo_enfoque').invalid}"
                  class="form-control"
                  formControlName="tipo_enfoque"
                  id="tipo_enfoque">
            <option disabled selected>Seleccione tipo</option>
            <option>Conservación de fauna</option>
            <option>Agroecología y soberanía alimentaria</option>
            <option>Conservación de flora</option>
            <option>Ambiente y sociedad</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Enfoque</label>
        <input [(ngModel)]="this.proyectoService.selectedProject.detalles['enfoque']" class="form-control" formControlName="enfoque" placeholder="Ecologia"
               type="text">
      </div>
      <div class="col">
        <label>Estado actual</label>
        <input [(ngModel)]="this.proyectoService.selectedProject.detalles['estado_actual']" class="form-control" formControlName="estado_actual" placeholder="En curso"
               type="text">
      </div>

      <div class="col">
        <label>Institucion</label>
        <input [(ngModel)]="this.proyectoService.selectedProject.detalles['institucion']" class="form-control" formControlName="institucion" placeholder="Universidad del Litoral"
               type="text">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label for="titulo_extendido">Titulo extendido</label>
      <textarea [(ngModel)]="this.proyectoService.selectedProject.detalles['titulo_extendido']" class="form-control" formControlName="titulo_extendido" id="titulo_extendido"
                rows="1"></textarea>
    </div>
    <div class="form-group">
      <label for="descripcion_proyecto">Descripción</label>
      <textarea [(ngModel)]="this.proyectoService.selectedProject.detalles['descripcion']" class="form-control" formControlName="descripcion" id="descripcion_proyecto"
                rows="2"></textarea>
    </div>
    <div class="form-group">
      <label for="resumen">Resumen</label>
      <textarea [(ngModel)]="this.proyectoService.selectedProject.detalles['resumen']" class="form-control" formControlName="resumen" id="resumen"
                rows="2"></textarea>
    </div>
    <div class="form-group">
      <label for="resultados">Resultados</label>
      <textarea [(ngModel)]="this.proyectoService.selectedProject.detalles['resultados']" class="form-control" formControlName="resultados" id="resultados"
                rows="1"></textarea>
    </div>

    <div formGroupName="redes_sociales">
      <div class="row">
        <div class="form-group col">
          <label>Facebook</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['facebook']" class="form-control" formControlName="facebook" id="facebook"
                 type="text">
        </div>
        <div class="form-group col">
          <label>Instagram</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['instagram']" class="form-control" formControlName="instagram"
                 type="text">
        </div>
        <div class="form-group col">
          <label>Twitter</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['twitter']" class="form-control" formControlName="twitter"
                 type="text">
        </div>
        <div class="form-group col">
          <label>Youtube</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['redes_sociales']['youtube']" class="form-control" formControlName="youtube"
                 type="text">
        </div>
      </div>
      <hr>
    </div>

    <div>
      <a (click)="agregarCoordenadas()" class="btn btn-warning mb-2" type="button">Agregar Coordenadas <i class="fa fa-map-marker ml-2"></i></a>
      <div *ngIf="listacoordenadasFromDb as coordenadas">
        <div *ngFor="let coordenada of coordenadas; let u = index">
          <!--      <div class="row justify-content-md-center" formGroupName="coordenadas" *ngFor="let link of coordenadas.controls; let u = index">-->
          <!--          <div [formGroupName]="u">-->
          <div class="row justify-content-md-center form-group">
            <label [attr.for]="'link' + u" class="col-auto"><strong>Latitud</strong></label>
            <div class="col-auto">
              <input [attr.id]="'link' + u" [value]="coordenada['latitud']" class="form-control" disabled type="text">
            </div>
            <label [attr.for]="'link' + u" class="col-auto"><strong>Longitud</strong></label>
            <div class="col-auto">
              <input [attr.id]="'link' + u" [value]="coordenada['longitud']" class="form-control" disabled type="text">
            </div>
            <div class="col-auto">
              <button (click)="removerItem(u,'coordenadas', 'anterior')" class="btn btn-outline-danger btn-sm" type="button">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <!--          </div>-->
        </div>
      </div>

      <div *ngFor="let link of coordenadas.controls; let r = index" class="row justify-content-md-center"
           formGroupName="coordenadas">
        <div [formGroupName]="r">
          <div class="row justify-content-md-center form-group">
            <label [attr.for]="'link' + r" class="col-auto"><strong>Latitud</strong></label>
            <div class="col-auto">
              <input [attr.id]="'link' + r" class="form-control" formControlName="latitud" name="latitud" type="text">
            </div>
            <label [attr.for]="'link' + r" class="col-auto"><strong>Longitud</strong></label>
            <div class="col-auto">
              <input [attr.id]="'link' + r" class="form-control" formControlName="longitud" name="longitud" type="text">
            </div>
            <div class="col-auto">
              <button (click)="removerItem(r,'coordenadas', 'current')" class="btn btn-sm btn-outline-danger" type="button">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="row justify-content-md-center"><h5>Datos del lugar</h5></div>
      <div class="row">
        <div class="col">
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['pais']" class="form-control" formControlName="pais" placeholder="Pais"
                 type="text">
        </div>
        <div class="col">
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['provincia']" class="form-control" formControlName="provincia" placeholder="Provincia"
                 type="text">
        </div>
        <div class="col">
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['ciudad']" class="form-control" formControlName="ciudad" placeholder="Ciudad"
                 type="text">
        </div>
        <div class="col">
          <div class="form-group">
            <select [(ngModel)]="this.proyectoService.selectedProject.detalles['tipo_sitio']" class="form-control"
                    formControlName="tipo_sitio">
              <option disabled selected value="">Seleccione tipo de sitio</option>
              <option>Parque Nacional</option>
              <option>Reserva Nacional</option>
              <option>Otro</option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <div class="row justify-content-md-center ">
        <div class="form-group col">
          <label>Año de inicio</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['ano_inicio']" class="form-control" formControlName="ano_inicio" placeholder="2020"
                 type="text">
        </div>
        <div class="form-group col">
          <label>Tipo de estudio</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['tipo_estudio']" class="form-control" formControlName="tipo_estudio" placeholder="Especie exótica invasora"
                 type="text">
        </div>
        <div class="form-group col">
          <label>Web</label>
          <input [(ngModel)]="this.proyectoService.selectedProject.detalles['web']" class="form-control" formControlName="web"
                 type="text">
        </div>
      </div>
    </div>
    <hr>

    <div class="form-group">
      <a (click)="agregarlinkvideo()" class="btn btn-warning" type="button">Agregar Videos</a>
    </div>
    <div *ngIf="listafotosFromDB as videos">
      <div *ngFor="let video of videos; let i = index">
        <!--      <h1>{{link.value['link']}}</h1>-->
        <!--          <div [formGroupName]="i">-->
        <div class="form-group row justify-content-md-center">
          <label [attr.for]="'link' + i" class="col-auto">Link</label>
          <div class="col-auto">
            <input [attr.id]="'link' + i" [value]="video['link']" class="form-control" disabled type="text">
          </div>
          <label [attr.for]="'link' + i" class="col-auto">Descripcion</label>
          <div class="col-auto">
            <input [attr.id]="'link' + i" [value]="video['descripcion']" class="form-control" disabled type="text">
            <!--            <input type="text" [attr.id]="'link' + i" class="form-control" formControlName="descripcionfoto" [(ngModel)]="this.proyectoService.selectedProject.detalles['linksfotos']['descripcion']">-->
          </div>
          <div class="col-auto">
            <button (click)="removerItem(i, 'videos', 'anterior')" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!--          </div>-->
      </div>
    </div>


    <div *ngFor="let link of linksvideos.controls; let i = index" formGroupName="linksvideos">
      <!--      <h1>{{link.value['link']}}</h1>-->
      <div [formGroupName]="i">
        <div class="form-group row justify-content-md-center">
          <label [attr.for]="'link' + i" class="col-auto">Link</label>
          <div class="col-auto">
            <input [attr.id]="'link' + i" class="form-control" formControlName="link" name="link" type="text">
          </div>
          <label [attr.for]="'link' + i" class="col-auto">Descripcion</label>
          <div class="col-auto">
            <input [attr.id]="'link' + i" class="form-control" formControlName="descripcion" name="descripcion"
                   type="text">
            <!--            <input type="text" [attr.id]="'link' + i" class="form-control" formControlName="descripcionfoto" [(ngModel)]="this.proyectoService.selectedProject.detalles['linksfotos']['descripcion']">-->
          </div>
          <div class="col-auto">
            <button (click)="removerItem(i,'videos', 'current')" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="form-group">
      <a (click)="agregarPersonal()" class="btn btn-warning " type="button">Agregar Personal</a>
      <div *ngIf="listapersonalFromDb as personal">
        <div *ngFor="let person of personal; let h = index">
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + h">Nombre/s</label>
              <input [attr.id]="'link' + h" [value]="person.nombre_personal" class="form-control" disabled type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Apellido/s</label>
              <input [attr.id]="'link' + h" [value]="person.apellido_personal" class="form-control" disabled
                     type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Rol</label>
              <!--                    <input type="text" [attr.id]="'link' + h" class="form-control" formControlName="rol">-->
              <div class="form-group">
                <select [attr.id]="'link' + h" [value]="person.rol" class="form-control" disabled>
                  <option>Guardaparque</option>
                  <option>Director</option>
                  <option>Audiovisual</option>
                  <option>Voluntario de campo</option>
                  <option>Codirector/a</option>
                  <option>Investigador principal</option>
                  <option>Otro</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label [attr.for]="'link' + h">Género</label>
              <select [attr.id]="'link' + h" [value]="person.genero" class="form-control" disabled>
                <option disabled selected value=""></option>
                <option>Femenino</option>
                <option>Masculino</option>
                <option>Otro</option>
              </select>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Fecha de nacimiento</label>
              <input [attr.id]="'link' + h" [value]="person.fecha_nacimiento" bsDatepicker
                     class="form-control" disabled type="text">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + h">Pais de residencia</label>
              <input [attr.id]="'link' + h" [value]="person.pais_residencia" class="form-control" disabled type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">Provincia de residencia</label>
              <input [attr.id]="'link' + h" [value]="person.provincia_residencia" class="form-control" disabled
                     type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + h">email</label>
              <input [attr.id]="'link' + h" [value]="person.email_personal" class="form-control" disabled type="text">
            </div>
            <div class="col-auto align-self-end">
              <button (click)="removerItem(h, 'personal', 'anterior')" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <br>
          <div class="row " *ngIf="person.redes_sociales_personal">
            <div class="form-group col" *ngIf="person.redes_sociales_personal.facebook">
              <label [attr.for]="'link' + h">Facebook</label>
              <input [attr.id]="'link' + h" class="form-control" [value]="person.redes_sociales_personal.facebook" disabled type="text">
            </div>
            <div class="form-group col" *ngIf="person.redes_sociales_personal.instagram">
              <label [attr.for]="'link' + h">Instagram</label>
              <input [attr.id]="'link' + h" [value]="person.redes_sociales_personal.instagram" class="form-control"
                     disabled type="text">
            </div>
            <div class="form-group col" *ngIf="person.redes_sociales_personal.twitter">
              <label [attr.for]="'link' + h">Twitter</label>
              <input [attr.id]="'link' + h" [value]="person.redes_sociales_personal.twitter" class="form-control"
                     disabled type="text">
            </div>
            <div class="form-group col" *ngIf="person.redes_sociales_personal.youtube">
              <label [attr.for]="'link' + h">Youtube</label>
              <input [attr.id]="'link' + h" [value]="person.redes_sociales_personal.youtube" class="form-control"
                     disabled type="text">
            </div>
            <div class="form-group col" *ngIf="person.redes_sociales_personal.researchgate">
              <label [attr.for]="'link' + h">Research Gate</label>
              <input [attr.id]="'link' + h" [value]="person.redes_sociales_personal.researchgate" class="form-control"
                     disabled type="text">
            </div>
          </div>
          <hr>
        </div>
        <!--              <hr>-->
        <!--            </div>-->
        <!--          </div>-->
      </div>


      <div *ngFor="let person of personal.controls; let x = index" formGroupName="personal">
        <div [formGroupName]="x">
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + x">Nombre/s</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="nombre_personal" type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Apellido/s</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="apellido_personal" type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Rol</label>
              <!--            <input type="text" [attr.id]="'link' + x" class="form-control" formControlName="rol">-->
              <div class="form-group">
                <select [attr.id]="'link' + x" class="form-control" formControlName="rol">
                  <option disabled selected value="">Seleccione el rol</option>
                  <option>Guardaparque</option>
                  <option>Director</option>
                  <option>Audiovisual</option>
                  <option>Voluntario de campo</option>
                  <option>Codirector/a</option>
                  <option>Investigador principal</option>
                  <option>Otro</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label [attr.for]="'link' + x">Género</label>
              <select [attr.id]="'link' + x" class="form-control" formControlName="genero">
                <option disabled selected value=""></option>
                <option>Femenino</option>
                <option>Masculino</option>
                <option>Otro</option>
              </select>
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Fecha de nacimiento</label>
              <input [attr.id]="'link' + x" bsDatepicker class="form-control"
                     formControlName="fecha_nacimiento" type="text">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-auto">
              <label [attr.for]="'link' + x">Pais de residencia</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="pais_residencia" type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">Provincia de residencia</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="provincia_residencia" type="text">
            </div>
            <div class="col-auto">
              <label [attr.for]="'link' + x">email</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="email_personal" type="text">
            </div>
            <div class="col-auto align-self-end">
              <button (click)="removerItem(x,'personal','current')" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <br>
          <div class="row " formGroupName="redes_sociales_personal">
            <div class="form-group col">
              <label [attr.for]="'link' + x">Facebook</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="facebook" type="text">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Instagram</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="instagram" type="text">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Twitter</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="twitter" type="text">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Youtube</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="youtube" type="text">
            </div>
            <div class="form-group col">
              <label [attr.for]="'link' + x">Research Gate</label>
              <input [attr.id]="'link' + x" class="form-control" formControlName="researchgate" type="text">
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <div
      *ngIf="this.registerForm.value.tipo_enfoque != 'Agroecología y soberanía alimentaria' && this.registerForm.value.tipo_enfoque != 'Ambiente y sociedad'">
      <h4 class="text-center">Registrar especies</h4>
      <div class="form-group">
        <a (click)="agregarEspecie()" class="btn btn-warning" type="button">Agregar Especies</a>
        <div *ngIf="listasppFromDB as especies">
          <div *ngFor="let especie of especies; let y = index">
            <div class="form-group row justify-content-md-center">
              <div class="col-auto">
                <label [attr.for]="'link' + y">SPOB</label>
                <input [attr.id]="'link' + y" [value]="especie['spob']" class="form-control"
                       disabled type="text">
              </div>
              <div class="col-auto">
                <label [attr.for]="'link' + y">Nombre vulgar</label>
                <input [attr.id]="'link' + y" [value]="especie['nombre_vulgar']" class="form-control" disabled
                       type="text">
              </div>
              <div class="form-group col-auto">
                <label [attr.for]="'link' + y">tso</label>
                <select [attr.id]="'link' + y" [value]="especie['tso']" class="form-control" disabled>
                  <option [ngValue]="null" selected></option>
                  <option>Nativa</option>
                  <option>Invasora</option>
                  <option>Otro</option>
                </select>
              </div>
              <!--            <button class="btn btn-secondary btn-sm align-bottom " (click)="removerItem(y, 'especies', 'anterior')">Remover anterior</button>-->
              <div class="col-auto align-text-bottom">
                <button (click)="removerItem(y, 'especies', 'anterior')" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!--          </div>-->
          </div>
        </div>


        <div *ngFor="let spp of especies.controls; let p = index" formGroupName="especies">
          <div [formGroupName]="p">
            <div class="row justify-content-md-center">
              <div class="col-auto">
                <label [attr.for]="'link' + p">SPOB</label>
                <input (click)="iucnGet(p, spp.value.spob)" [attr.id]="'link' + p" class="form-control" formControlName="spob"
                       placeholder="Lontra provocax" type="text">
              </div>
              <div class="col-auto">
                <label [attr.for]="'link' + p">Nombre vulgar</label>
                <input [attr.id]="'link' + p" class="form-control" formControlName="nombre_vulgar" type="text">
              </div>
              <div class="form-group">
                <label [attr.for]="'link' + p">tso</label>
                <select [attr.id]="'link' + p" class="form-control" formControlName="tso">
                  <option [ngValue]="null" selected></option>
                  <option>Nativa</option>
                  <option>Invasora</option>
                  <option>Otro</option>
                </select>
              </div>
              <div class="col-auto">
                <button (click)="removerItem(p, 'especies', 'current')" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div *ngIf="iucndetalleslist[spp.value.spob] as value">
                  <span><p style="font-size:12px; color:red">Especie reconocida por la iucnredlist !</p>
                <p style="font-size:10px">Clase: {{value.class}}, Familia: {{value.family}},
                  taxonid: {{value.taxonid}}, category: {{value.category}},
                assessor: {{value.assessor}}</p></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row justify-content-md-center ">
      <div class="col-auto">
        <button [disabled]="!registerForm.valid"
                class="btn btn-success btn-lg"
                style="margin-top: 3rem"
                type="submit">Actualizar
        </button>
      </div>
      <div class="col-auto">
        <button (click)="borrarForm()"
                class="btn btn-light btn-lg"
                style="margin-top: 3rem"
                type="button">Vaciar Campos
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #actualizado>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-success">Proyecto actualizado! <i class="fa fa-check"></i></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>
